* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utilities */
.clearfix {
  content: "";
  display: table;
  clear: both;
}
.my_uppercase {
  text-transform: uppercase;
}
#big_logo {
  width: 100%;
  height: 70px;
}
ul {
  list-style: none;
}
li {
  text-decoration: none;
}
a {
  color: grey;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}
h4 {
  color: white;
}
#white_bold_text {
  color: white;
  font-weight: bold;
}
.my_overlay_container {
  position: relative;
}
.my_overlay_container img {
  display: block;
  margin: 0 auto;
}
.my_overlay {
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.my_overlay_container:hover .my_overlay {
  z-index: 99;
  display: block;
}
.my_overlay_text {
  color: white;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* media queries */
@media only screen and (max-width: 767px) {
  .main_nav {
    width: 50px;
    padding: 10px;
  }
  .main_content {
    width: calc(100% - 50px);
  }
}
@media only screen and (min-width: 768px) {
  .main_nav {
    width: 150px;
  }
  .main_content {
    width: calc(100% - 150px);
  }
  .br_footer {
    display: none;
    padding-top: 30px;
  }
}
/* fine media queries */

/* struttura */
.my_wrapper {
  width: 100%;
  height: 100vh;
  background-color: red;
}
.main_container {
  height: calc(100% - 90px);
  width: 100vw;
}
.main_nav {
  float: left;
  height: 100%;
  background: black;
  padding: 10px;
  font-size: 10px;
}
.main_content {
  float: left;
  height: 100%;
  overflow-y: auto;
  background: #141922;
}
.top_content {
  top: 0;
  width: 100%;
  height: 90px;
  background: black;
}
.my_footer {
  height: 90px;
  background: #282828;
  color: white;
}
/* fine struttura */

/* main nav section */
.container_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_nav img {
  width: 30px;
  height: 50px;
}
#top_flex_img img {
  width: 30px;
  height: 40px;
}
.my_home_text {
  color: white;
}
.play_list i {
  font-size: 30px;
  height: 30px;
  width: 30px;
  vertical-align: middle;
}
.play_list li {
  line-height: 2em;
}
.bottom_flex_item {
  vertical-align: text-bottom;
}
.bottom_flex_item span {
  padding-left: 10px;
}
.bottom_flex_item img {
  height: 20px;
}
.bottom_flex_item hr {
  margin-top: 5px;
  margin-bottom: 10px;
}
#my_img_profile {
  height: 30px;
  background-color: grey;
}
/* fine main nav section */

/* inizio main content */
.top_content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.upgrade_content {
  margin-right: 5px;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 30px;
}
.slider_nav ul {
  font-size: 10px;
  text-align: center;
}
.slider_nav li {
  display: inline-block;
  padding: 10px;
}
.evidence_tab {
  border-bottom: 2px solid lightgreen;
}
.slider_box {
  padding: 10px;
  width: 100%;
}
.box_item {
  height: 250px;
  margin-bottom: 10px;
}
.slider_box img {
  height: 160px;
  width: 100%;
}
.slider_box h5 {
  color: white;
}
.slider_box p {
  color: lightgrey;
}
/* fine main content */

/* inizio footer */
.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_item_left {
  padding: 10px;
  flex-basis: 30%;
  font-size: 10px;
}
.footer_item_center {
  flex-basis: 40%;
}
.footer_item_right {
  flex-basis: 30%;
  margin-right: 10px;
}
.footer_sub_container_left {
  display: flex;
  justify-content: flex-start;
}
.footer_sub_item_left {
  flex-basis: 33%;
  line-height: 0.1em;
  align-self: center;
}
.footer_item_left img {
  width: 80%;
}
.footer_item_left i {
  padding: 5px 0;
}
.footer_item_right i {
  padding: 5px;
}
.footer_sub_container_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer_sub_item_center {
  flex-basis: 50%;
  align-self: center;
}
.footer_sub_container_right {
  display: flex;
  justify-content:flex-end;
}
.music_spin {
  display: inline;
  width: 40px;
  border-bottom: 3px solid grey;
}
.music_white_spin {
  display: inline;
  width: 10px;
  border-bottom: 3px solid lightgrey;
}
/* fine footer */
